@use "bootstrap/scss/bootstrap" as * with (
  $primary: #325376,
  $secondary: #7c9fc5,
  $success: #05ee09,
  $danger: #e95958,
  $warning: #fffb1e,
  $info: #5c728f,
  $light: #d6e2ef,
  $dark: #14212f,
  $black: #3a3a3a
);

@use "includes/components/table";
@use "includes/components/jumbotron";
@use "includes/components/challenge";
@use "includes/components/sticky-footer";
@use "includes/components/graphs";

@use "includes/utils/fonts";
@use "includes/utils/opacity";
@use "includes/utils/min-height";
@use "includes/utils/cursors";
@use "includes/utils/lolight";

@use "includes/icons/award-icons";
@use "includes/icons/flag-icons";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  font-family: Montserrat, sans-serif !important;
}

h1,
h2 {
  font-family: Montserrat, sans-serif !important;
  font-weight: 900 !important;
  letter-spacing: 0.75;
}

a {
  color: #325376;
  text-decoration: none !important;
}

blockquote {
  border-left: 4px solid $secondary;
  padding-left: 15px;
}

.fa-spin.spinner {
  text-align: center;
  opacity: 0.5;
}

.badge-notification {
  vertical-align: top;
  margin-left: -1.5em;
  font-size: 50%;
}

select.form-control {
  height: auto !important;
}

.form-select {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
    no-repeat right 0.75rem center/8px 10px !important;
  background-color: #f0f0f0 !important;
}

// HMM

.input-filled-valid {
  background-color: transparent !important;
  border-color: #a3d39c;
  box-shadow: 0 0 0 0.1rem #a3d39c;
  transition: background-color 0.3s, border-color 0.3s;
}

.input-filled-invalid {
  background-color: transparent !important;
  border-color: #d46767;
  box-shadow: 0 0 0 0.1rem #d46767;
  transition: background-color 0.3s, border-color 0.3s;
}

.form-control {
  padding: 0.8em !important;
  background: #f0f0f0;
  border-color: #7c9fc5;
  border-width: 2px;
  color: #aaa;
  /* Behavior changed in Bootstrap v4.1.3. See https://github.com/twbs/bootstrap/issues/27629 */
  height: auto !important;
}

.form-control:focus {
  background-color: transparent;
  border-color: #7c9fc5;
  box-shadow: 0 0 0 0.1rem #7c9fc5;
  transition: background-color 0.3s, border-color 0.3s;
}

// Style yang ditambah
.bg-badge {
  background-color: #325376;
}

.challenge-button {
  &:hover {
    background-color: #325376;
  }

  border-radius: 16px;
  background-color: #7c9fc5;
}

.challenges-cards {
  border-radius: 16px;
  padding: 1rem;
  background-color: #ffffff;
}
// FONTS & TEXTS

html,
body,
.container {
  font-family: Montserrat, sans-serif !important;
}

.fw-black {
  font-weight: 900 !important;
}

.text-darkblue {
  color: #294d74 !important;
}

.text-lightblue {
  color: #7c9fc5 !important;
}

.bg-darkblue {
  background-color: #294d74 !important;
}

.bg-lightblue {
  background-color: #7c9fc5 !important;
}

.bg-lighterblue {
  background-color: #d6e2ef !important;
}
