/* Table styles
-------------------------------------------------- */

// Center text in tables, after the first cell
// Override with text-center on cells
.table tr > td:not(:first-of-type) {
  text-align: center !important;
}

// Vertically center text in cells
.table td,
th {
  vertical-align: middle !important;
}

// Add some default spacing
.table > tbody > tr > td {
  padding: 0.8rem 1rem !important;
}

// Remove border line from thead of all tables
.table > tbody {
  border-top: none !important;
}

// Add some padding from the edge of table
.table > thead > tr > td:first-of-type {
  padding-left: 1rem !important;
}

.table > thead > th {
  white-space: nowrap;
}

// Style yang ditambah
.table {
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
}
.table tbody {
  color: #325376;
}

.table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.table thead {
  background: radial-gradient(41.19% 834.6% at 24.55% 75.63%, #83D6E2 0%, #294D74 61.95%);
  color: var(--bs-white);
}